.wrapper {
  display: flex;
  flex-wrap:wrap;
  border: 5px solid #000000;
  padding: 4px;
  width: 240px;
  height: 460px;
  border-radius: 20px;
  background-image: url('../back.jpg');
  position: relative;
  align-content: flex-start;
}