
.wrapper {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  border: 5px solid #000000; 
  padding: 16px;
  width: 240px;
  height:460px;
  align-items: center;
  border-radius: 20px;
  background-image: url('../back.jpg');
}